
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 140

[{src,scripts}/**.{ts,json,js}]
keep_blank_lines_between_declarations = 1
quote_style = single_quoted
extra_spaces = remove_all

[*.md]
max_line_length = on
trim_trailing_whitespace = false
